/* CSS for options.html */

body {
    min-width: 360px;
}

#options-wrapper {
    background: rgba(0 0 0 / 60%);
    filter: drop-shadow(15px 15px 12px #000000);
    backdrop-filter: blur(6px);
    max-width: 800px;
    width: 100%;
}

.form-control {
    background: rgba(0 0 0 / 50%);
}

#table-wrapper {
    background: rgba(0 0 0 / 50%);
}
