/* CSS for options.html */

body {
    min-width: 400px;
}

#options-wrapper {
    width: 100%;
    max-width: 800px;
    backdrop-filter: blur(6px);
    filter: drop-shadow(15px 15px 12px #000000);
}

[data-bs-theme='dark'] #options-wrapper {
    background: rgba(0 0 0 / 50%);
}
[data-bs-theme='light'] #options-wrapper {
    background: rgba(255 255 255 / 60%);
}

[data-bs-theme='dark'] .form-control {
    background: rgba(0 0 0 / 50%);
}
[data-bs-theme='light'] .form-control {
    background: rgba(255 255 255 / 50%);
}

[data-bs-theme='dark'] #table-wrapper {
    background: rgba(0 0 0 / 50%);
}
[data-bs-theme='light'] #table-wrapper {
    background: rgba(255 255 255 / 50%);
}
